<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  {{>navbar}}

  <!-- header section -->

  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div  -->

          <div class=" col-md-6 col-12 main_header_right align-items-center">
            <figure>
              <img src="./images/a1.png" alt="thapa" class="img-fluid" title="thapatechnikal">
            </figure>
          </div>
          <!-- right side div  -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to weather app</p>
            <h1>I Am A <span class="text-clr">Full Stack</span>Developer</h1>
            <a href="/"><button>About Me</button></a>

          </div>


        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</body>

</html>